
<%= simple_form_for [:admins, @discipline] do |f| %>
  
  <div class="card-body">

    <div class="row">

      <div class="col-md-12">
        <%= f.input :name, autofocus: true%>
      </div>

      <div class="col-sm-6 col-md-3">
        <%= f.input :code %>
      </div>

      <div class="col-sm-6 col-md-4">
        <%= f.input :hours %>
      </div>

      <div class="col-sm-6 col-md-5">
        <%= f.association :period, label_method: :name, value_method: :id,
                                prompt: "Escolha o período" %>
      </div>
                    
      <div class="col-md-12" id="content"> 
      <label>Ementa</label>
      <%= f.text_area :menu, :placeholder => "Digite a Ementa da Disciplina", :class => "form-control", :rows => 8, :cols => 84 %> 
      </div>
    
    </div>

  </div>

  <div class="card-footer text-right">
    <div class="d-flex">
      <%= link_to "Voltar", admins_disciplines_path, class: 'btn btn-secondary', title: 'Voltar para lista de Disciplinas' %>
      <%= f.button :submit, class: 'btn btn-primary ml-auto', title: 'Cadastrar/Atualizar Disciplina'%>
    </div>
  </div>

<% end %>
