<%= simple_form_for [:admins, @discipline] do |f| %>
  <div class="row">
    <div class="col-sm-6 col-md-9">
      <%= f.input :name, autofocus: true%>
    </div>
    <div class="col-sm-6 col-md-3">
      <%= f.input :initials %>
    </div>
    <div class="col-sm-6 col-md-5">
      <%= f.input :code %>
    </div>
    <div class="col-sm-6 col-md-7">
      <%= f.association :period,
        prompt: "Escolha o período",
        collection: Period.periods_to_select %>
    </div>
    <!-- Carga Horária da Disciplina -->
    <div class="col-sm-6 col-md-4">
      <%= f.input :theoretical_classes %>
    </div>
    <div class="col-sm-6 col-md-4">
      <%= f.input :practical_classes %>
    </div>

    <div class="col-sm-6 col-md-4">
      <%= f.input :distance_classes %>
    </div>
    <!-- Fim Carga Horária da Disciplina -->
    <div class="col-md-12" id="content">
      <label>Ementa</label>
      <%= f.text_area :menu, placeholder: "Digite a Ementa da Disciplina",
          class: "form-control markdown-editor", rows: 8, cols: 60 %>
    </div>
  </div>
  <div class="d-flex">
    <%= link_to "Voltar", admins_disciplines_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
