<% provide(:page_title, "Visualizar Disciplina ##{@discipline.id}") %>

<div class="card">
  <div class="card-header">
    <h3><%= @discipline.name %></h3>
  </div>
  <div class="card-body">
    <p>
      <strong>Código</strong>:
      <%= @discipline.code %>
    </p>
    <p>
      <strong>Sigla</strong>:
      <%= @discipline.initials %>
    </p>
    <p>
    <div class="col-md-12">
      <strong>Carga Horária das Aulas: </strong>
      <div class="col-sm-6 col-md-4">
        <strong>AT: Aulas Teóricas (hs)</strong>
        <%= @discipline.theoretical_classes %>
      </div>
      <div class="col-sm-6 col-md-4">
        <strong>AP: Aulas Praticas (hs): </strong>
        <%= @discipline.practical_classes %>
      </div>
      <div class="col-sm-6 col-md-4">
        <strong>AD: Aulas a Distancia (hs)</strong>
        <%= @discipline.distance_classes %>
      </div>
    </div>
    </p>
    <p>
      <strong>Matriz</strong>:
      <%= @discipline.period.matrix.name %>
    </p>
    <p>
      <strong>Periódo</strong>:
      <%= @discipline.period.name %>
    </p>
    <p>
      <strong>Carga horária</strong>:
      <%= @discipline.hours %>
    </p>
    <p>
      <strong>Descrição</strong>:
      <span class="markdown-content" data-markdown="<%= @discipline.menu %>">
        <%= @discipline.menu %>
      </span>
    </p>
  </div>
</div>

<div class="d-flex">
  <%= link_to "Voltar", admins_disciplines_path, class: 'btn btn-secondary' %>
</div>

