<tr>
  <td><%= period_professor.id %></td>
  <td><%= period_professor.professor.name %></td>
  <td><%= period_professor.date_entry %></td>
  <td><%= period_professor.date_out %></td>
  <td><%= period_professor.type_contract %></td>
  <td>
    <%= link_to edit_admins_periods_professor_path(period_professor) do%>
      <span class="icon mr-3">
        <i class="fas fa-edit" data-toggle="tooltip"
                               data-placement="top" title="Editar"></i>
      </span>
    <% end %>
    <%= link_to [:admins, period_professor], method: :delete,
      data: { confirm: t('prompt.confirm')} do%>
      <span class="icon mr-3">
        <i class="fas fa-trash-alt" data-toggle="tooltip"
                                    data-placement="top" title="Remover"></i>
      </span>
    <% end %>
    <%= link_to admins_periods_professor_path(period_professor) do%>
      <span class="icon mr-3">
        <i class="fas fa-eye" data-toggle="tooltip"
                              data-placement="top" title="Mostrar"></i>
      </span>
    <% end %>
  </td>
</tr>
