<%= simple_form_for [:admins, @activity] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>

  <div class="d-flex">
    <%= link_to "Voltar", admins_activities_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
