<%= simple_form_for [:admins, @activity_professor] do |f| %>

  <%= f.association :professor,
                    collection: Professor.order(name: :asc),
                    prompt: t('prompt.select.m', name: 'Professor') %>
  <%= f.association :activity,
                    collection: Activity.order(name: :asc),
                    prompt: t('prompt.select.m', name: 'Atividade') %>

  <%= f.input :start_date, as: :date, include_blank: true %>

  <%= f.input :end_date, as: :date, include_blank: true %>
  <div class="d-flex">
    <%= link_to "Voltar", admins_professors_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
