<!-- Components -->
<div class="list-group list-group-transparent mb-0">
  <%= link_to admins_root_path, class: 'list-group-item list-group-item-action active' do %>
    <span class="icon mr-3"><i class="fas fa-home"></i></span>Página inicial
  <% end %>

  <%= link_to '#', class: 'list-group-item list-group-item-action' do %>
    <span class="icon mr-3"><i class="fas fa-chalkboard-teacher"></i></span>Professores
  <% end %>

  <%= link_to '#', class: 'list-group-item list-group-item-action' do %>
    <span class="icon mr-3"><i class="fas fa-user-graduate"></i></span>Acadêmicos
  <% end %>

  <%= link_to '#', class: 'list-group-item list-group-item-action' do %>
    <span class="icon mr-3"><i class="fas fa-building"></i></span>Empresas Parceiras
  <% end %>

  <%= link_to '#', class: 'list-group-item list-group-item-action' do %>
    <span class="icon mr-3"><i class="fas fa-book-open"></i></span>Matriz do curso
  <% end %>

  <%= link_to '#', class: 'list-group-item list-group-item-action' do %>
    <span class="icon mr-3"><i class="fas fa-question"></i></span>FAQ
  <% end %>

  <%= link_to '#', class: 'list-group-item list-group-item-action' do %>
    <span class="icon mr-3"><i class="fas fa-th-list"></i></span>Recomendações de conteúdo
  <% end %>

  <%= link_to '#', class: 'list-group-item list-group-item-action' do %>
    <span class="icon mr-3"><i class="fas fa-images"></i></span>Galeria
  <% end %>

</div>
