<!-- Components -->
<div class="list-group list-group-transparent mb-0">

  <a href="#" class="sidebar-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#sidebarMenuCollapse">
    <span class="sidebar-toggler-icon"></span>
  </a>

  <div class="d-lg-block" id="sidebarMenuCollapse">

    <hr class="d-lg-none"/>

    <%= active_link_to admins_root_path, class: 'list-group-item list-group-item-action', active: :exclusive do %>
      <span class="icon mr-3"><i class="fas fa-home"></i></span>Página inicial
    <% end %>

    <%= active_link_to admins_professors_path, class: 'list-group-item list-group-item-action' do %>
      <span class="icon mr-3"><i class="fas fa-chalkboard-teacher"></i></span>Professores
    <% end %>

    <%= active_link_to admins_periods_professors_path, class: 'list-group-item list-group-item-action' do %>
      <span class="icon mr-3"><i class="fas fa-chalkboard-teacher"></i></span> Períodos de Trabalho do Professor
    <% end %>

    <%= active_link_to admins_academics_path, class: 'list-group-item list-group-item-action' do %>
      <span class="icon mr-3"><i class="fas fa-user-graduate"></i></span>Acadêmicos
    <% end %>

    <div class="list-group-item list-group-item-action pb-0">
      <span class="icon mr-3"><i class="fas fa-th-list"></i></span>Atividades

      <div class="list-group list-group-transparent mb-0">
        <%= active_link_to admins_activities_path, class: 'list-group-item list-group-item-action' do %>
          <span class="icon mr-3"><i class="fas fa-chevron-right"></i></span>Todas
        <% end %>

        <%= active_link_to new_admins_activity_professor_path,
          class: 'list-group-item list-group-item-action',
          active: ['admins/activity_professors'] do %>
          <span class="icon mr-3"><i class="fas fa-chevron-right"></i></span>Vincular professor
        <% end %>
      </div>
    </div>

    <%= active_link_to admins_discipline_monitors_path, class: 'list-group-item list-group-item-action' do %>
      <span class="icon mr-3"><i class="fas fa-user-graduate"></i></span>Monitorias
    <% end %>

    <div class="list-group-item list-group-item-action pb-0">
      <span class="icon mr-3"><i class="fas fa-building"></i></span>Empresas parceiras

      <div class="list-group list-group-transparent mb-0">
        <%= active_link_to admins_companies_path, class: 'list-group-item list-group-item-action' do %>
          <span class="icon mr-3"><i class="fas fa-chevron-right"></i></span>Todas
        <% end %>

        <%= active_link_to admins_trainees_path,
                           class: 'list-group-item list-group-item-action',
                           active: ['admins/trainees'] do %>
          <span class="icon mr-3"><i class="fas fa-chevron-right"></i></span>Vagas de estágio
        <% end %>
      </div>
    </div>


    <div class="list-group-item list-group-item-action pb-0">
      <span class="icon mr-3"><i class="fas fa-book-open"></i></span>Matriz do Curso

      <div class="list-group list-group-transparent mb-0">
        <%= active_link_to admins_matrices_path, class: 'list-group-item list-group-item-action' do %>
          <span class="icon mr-3"><i class="fas fa-chevron-right"></i></span>Matrizes
        <% end %>

        <%= active_link_to admins_periods_path, class: 'list-group-item list-group-item-action' do %>
          <span class="icon mr-3"><i class="fas fa-chevron-right"></i></span>Períodos
        <% end %>

        <%= active_link_to admins_disciplines_path, class: 'list-group-item list-group-item-action' do %>
          <span class="icon mr-3"><i class="fas fa-chevron-right"></i></span>Disciplinas
        <% end %>
      </div>
    </div>

    <%= link_to admins_faqs_path, class: 'list-group-item list-group-item-action' do %>
      <span class="icon mr-3"><i class="fas fa-question"></i></span>FAQ
    <% end %>

    <div class="list-group-item list-group-item-action pb-0">
      <span class="icon mr-3"><i class="fas fa-th-list"></i></span>Recomendações

      <div class="list-group list-group-transparent mb-0">
        <%= active_link_to admins_recommendations_path, class: 'list-group-item list-group-item-action' do %>
          <span class="icon mr-3"><i class="fas fa-chevron-right"></i></span>Conteúdo
        <% end %>
        <%= active_link_to admins_category_recommendations_path, class: 'list-group-item list-group-item-action' do %>
          <span class="icon mr-3"><i class="fas fa-chevron-right"></i></span>Categoria
        <% end %>
      </div>
    </div>

    <%= link_to '#', class: 'list-group-item list-group-item-action' do %>
      <span class="icon mr-3"><i class="fas fa-images"></i></span>Galeria
    <% end %>

    <%= active_link_to admins_static_pages_path, class: 'list-group-item list-group-item-action' do %>
      <span class="icon mr-3"><i class="fas fa-newspaper"></i></span>Páginas estáticas
    <% end %>
  </div>
</div>
