<section class="show-info" id="discipline_monitors">
  <div class="container text-center">
    <h2 class="mb-4">Monitorias de Disciplinas - Atuais</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12">
      </div>
      <hr class="my-4">
      <%@discipline_monitors.year_now.semester_now.each do |dm| %>
      <div class="col-sm-6 py-2">
        <div class="card h-100">
          <div class="card-body">
            <div class="media">
              <div class="media-body">
                <small>
                  <strong>Disciplina(s):</strong>
                  <% dm.discipline_monitor_disciplines.each do |d| %>
                  <%= d.discipline.name %>
                  <% end %>
                </small>
                <hr class="large">
                <small>
                  <Strong>Ano/Semestre:</Strong>
                  <%= dm.year %> -
                  <%= t("enums.semesters.#{dm.semester}") %> --
                  <Strong>Tipo da monitoria: </Strong>
                  <%= dm.monitor_type.name %>
                </small>
                <hr>
                <ul class="social-links list-inline mb-0 mt-2">
                  <li class="list-inline-item">
                    <%= image_tag dm.academic.image.url, class:'avatar avatar-md mr-3' %>
                    <div>
                      <div>
                        <%= dm.academic.name %>
                      </div>
                      <small class="d-block text-muted">Monitor</small>
                    </div>
                  </li>
                  <% dm.discipline_monitor_professors.each do |d| %>
                  <li class="list-inline-item">
                    <%= image_tag d.professor.image.url, class:'avatar avatar-md mr-3' %>
                    <div>
                      <div>
                        <%= d.professor.name %>
                      </div>
                      <small class="d-block text-muted">Orientador</small>
                    </div>
                  </li>
                  <% end %>
                </ul>
                <hr>
                <small>
                  <Strong>Descrição:</Strong>
                  <%= dm.description %>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr>
        <%= link_to "Histórico de Monitorias", discipline_monitors_path, class: 'btn btn-primary btn-xl sr-button' %>
      </div>
    </div>
</section>
