<section class="bg-show-info" id="discipline_monitors">
  <div class="container text-center">
    <h2 class="mb-4">Monitorias de Disciplinas - Atuais
    </h2>
    <hr>
    <div class="row">
      <hr class="my-4">
      <%@discipline_monitors.year_now.semester_now.each do |dm| %>
      <div class="col-sm-6 py-2">
        <div class="card h-100">
          <h4 class="m-2">
            <% dm.discipline_monitor_disciplines.each do |d| %>
            <%= d.discipline.name %>
            <% end %>
          </h4>
          <p class="text-muted mb-0">
            Tipo:
            <%= dm.monitor_type.name %>
            <%= dm.year %>/
            <%= t("enums.semesters.#{dm.semester}") %>
          </p>
          <hr class="large">
          <div class="card-body">
            <%= image_tag dm.academic.image.url, class:'avatar avatar-xxl mr-5' %>
            <h4 class="m-0">
              <%= dm.academic.name %>
            </h4>
            <p class="text-muted mb-0">
              Monitor
            </p>
            <ul class="social-links list-inline mb-0 mt-2">
              <% dm.discipline_monitor_professors.each do |p| %>
              <li class="list-inline-item">
                <%= image_tag p.professor.image.url, class:'avatar avatar-md mr-3' %>
                <div>
                  <div>
                    <%= p.professor.name %>
                  </div>
                  <small class="d-block text-muted">Orientador</small>
                </div>
              </li>
              <% end %>
            </ul>
            <hr class="large">
            <Strong>Descrição</Strong>
            <p class="text-muted md-5">
              <small>
                <%= dm.description %>
              </small>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr>
        <%= link_to "Histórico de Monitorias", discipline_monitors_path, class: 'btn btn-primary btn-xl sr-button' %>
      </div>
    </div>
  </div>
</section>
