<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Páginas estaticas</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
          <h3 class="mb-3"><%= I18n.t('breadcrumbs.professors.name') %></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
          <h3 class="mb-3"><%= I18n.t('breadcrumbs.companies.name')%></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
          <h3 class="mb-3"><%= I18n.t('breadcrumbs.activities.name')%></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3"><%= I18n.t('breadcrumbs.discipline_monitors.name')%></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3"><%= I18n.t('helpers.tcc')%>e</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3"><%= I18n.t('helpers.trainee')%></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3"><%= I18n.t('helpers.instruction_subscription')%></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3"><%= I18n.t('helpers.be_our_student')%></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3"><%= I18n.t('helpers.extension_activity')%></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
          <h3 class="mb-3"><%= I18n.t('helpers.course_about')%></h3>
        </div>
      </div>

    </div>
  </div>
</section>
