<%= simple_form_for [:admins, @professor] do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :lattes, required: true %>
  <%= f.input :occupation_area, required: true %>
  <%= f.input :email, required: true %>
  <%= f.association :professor_title, label_method: :description %>
  <%= f.association :professor_category %>

  <div class="d-flex">
    <%= link_to "Voltar", admins_professors_path, class: 'btn btn-secondary' %>
    <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
  </div>
<% end %>
