<div class="page-header">

</div>

<div class="card">
  <div class="card-header"><h3 class="card-title">Monitoria</h3></div>
  <div class="card-body text-left">
    <p>
      <%= image_tag @discipline_monitor.academic.image.url, class:'avatar avatar-xxl' %>
      <Strong>Acadêmico: </Strong>
      <%= @discipline_monitor.academic.name %>
    </p>
    <p>
      <% @discipline_monitor.discipline_monitor_professors.each do |d| %>
        <%= image_tag d.professor.image.url, class:'avatar avatar-xxl' %>
        <Strong>Orientador: </Strong>
        <%= d.professor.name %>
      <% end %>
    </p>
    <p>
      <Strong>Ano/Semestre:</Strong>
      <%= @discipline_monitor.year %> -
      <%= t("enums.semesters.#{@discipline_monitor.semester}") %> --
      <Strong>Tipo da monitoria: </Strong><%= @discipline_monitor.monitor_type.name %>
    </p>
    <p>
      <Strong>Disciplinas:</Strong>
      <% @discipline_monitor.discipline_monitor_disciplines.each do |d| %>
        <%= d.discipline.name %>
      <% end %>
    </p>
    <p>
      <Strong>Descrição: </Strong>
      <%= @discipline_monitor.description %>
    </p>
  </div>
</div>

<div class="d-flex">
  <%= link_to "Voltar", discipline_monitors_path, class: 'btn btn-secondary' %>
</div>



